

.audio-container {
    max-width: 800px;
    height: 400px;
    margin-inline: auto;
    background-color: rgb(32, 32, 32);

    display: flex;
    align-items: center;

    position: relative;
}

.audio-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.audio-controls-container .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: .25rem;
}

    
.audio-controls-container .controls button {
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    color: inherit;
    cursor: pointer;
}

.audio-container.paused .play {
    display: none;
}

.audio-container:not(.paused) .pause {
    display: none;
}

.timeline-container {
    height: 7px;
}

.timeline {
   height: 3px;
   margin-inline: .9rem;
   position: relative;
   background-color: gray;
   cursor: pointer;
   border-radius: 5px;
}

.timeline-container:hover .timeline{
    height: 100%;
}
   
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-color: rgb(196, 196, 196);
    right: calc(100% - var(--preview-positon) * 100%);
}

.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    right: calc(100% - var(--preview-positon) * 100%);
}

audio {
    width: 100%;
    height: 40%;
}

.duration-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    height: 0;
}

.audio-container.repeate .repeat-1 {
    display: none;
}

.audio-container:not(.repeate) .loop {
    display: none;
}